.footerGradientBubble {
    position: absolute;
    bottom: 0; 
    left: 0; 
    width: 100%;
    height: 100px; 
    filter: blur(92px);
    border-radius: 10%;
    background: linear-gradient(90deg, rgba(255, 205, 159, 0.5) 25%, rgba(119, 222, 255, 0.4) 50%, rgba(221, 14, 255, 0.15) 75% );
}